[submodule "cv32e40p_baseline"]
	path = cv32e40p_baseline
	url = https://github.com/TsiantosD/cv32e40p.git
	branch = master
[submodule "cv32e40p_no_mul_forwarding"]
	path = cv32e40p_no_mul_forwarding
	url = https://github.com/TsiantosD/cv32e40p.git
	branch = uth_tsiantosd_20260522
[submodule "cv32e40p_no_alu_forwarding"]
	path = cv32e40p_no_alu_forwarding
	url = https://github.com/TsiantosD/cv32e40p.git
	branch = master
[submodule "cv32e40p_no_alu_mul_forwarding"]
	path = cv32e40p_no_alu_mul_forwarding
	url = https://github.com/TsiantosD/cv32e40p.git
	branch = master
